.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 2;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.overlay h1 {
  font-size: 4rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 630px) {
  .overlay h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 450px) {
  .overlay h1 {
    font-size: 2.5rem;
  }
}